@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin-ext');

$bg:              #5e5552;
$main:            #717171;
$link-color:      #ff6015;
$mainfont:        'PT Sans Narrow', sans-serif;
